.mr-auto{
    background-color: red;
}
.bg-light {
  /* background-color: #a78686!important; */
  background-image: linear-gradient(to right, #f9f6f6 , #66b432);
}
.bg-dark {
  background-color: #010f17!important;
  height: 45px;
}

.order-btn{
    padding: 3px 6px;
    border-radius:15px;
    border: 1px solid #241e29;
    background: linear-gradient(90deg, rgb(0 124 195) 0%, 50%, rgb(0 124 195) 100%);
    color: white;

   
}
.nav-link{
 white-space: nowrap;
}
.contact-info{
  display: flex;
  justify-content: space-around;
  flex:1
}
.buynow{
  padding: 4px 25px !important;
  border-radius: 47px;
  /* border: 2px solid #007BFF; */
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgb(0 124 195) , 50%, rgb(0 124 195) 100%);
  color: white;
      
}
.fa-mobile{
  
  font-size: 20px;
}
.track-order{
    display: flex;
    color: red;
}
.social-icon{
   display: flex;
   justify-content: flex-end;
}
.fa {
    font-size: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    padding: 8px !important;
  }
  .fa:hover {
    opacity: 0.8;

}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.a{
  text-decoration: none;
  color: white;
}
@media(max-width:600px){
  .track-order{
    flex-direction: row;
  }
  .contact-info{
  display: none;
  }
  
}